.project {
	$primary: #f3f1ee;
	$secondary: #40bdae;
	$accent: #b82b32;
	$header: #243a47;

	.content {
		width: 100%;
		height: 100%;
		background-color: $primary;
		padding-bottom: 15vh;
		z-index: 100;
	}

	.caption {
		margin: 3vh auto;
		text-align: center;
	}

	.panel {
		width: 60%;
		min-height: 30vh;
		padding: 5vh 5vw;
		margin: 5vh auto;
		border-left: 5px solid $secondary;
	}

	.sub-panel.left {
		padding: 0;
	}

	.sub-panel.right {
		padding: 0 6vw;
		margin: auto 0;
	}

	.sub-panel {
		display: inline-block;
		width: 40vw;
	}

	.project-title {
		color: $header;
		font-size: 2.7em;
		margin-bottom: 2rem;
	}

	.project-description {
		margin-bottom: 2rem;
	}

	.project-image {
		margin: 0 auto;
		width: 25vw;
	}

	.view-button {
		width: 200px;
		height: 50px;
		font-size: 18px;
		margin: 0.5rem 0;
	}

	.view-button:hover {
		color: $accent;
		border: 2px $accent solid;
	}
}
