.resume {
	// $color-1: rgba(219, 224, 235, 1);
	$color-1: #f7f7f7;
	$color-2: #ee707d;
	$color-3: #3f4e67;
	$color-4: #40bdae;
	$color-5: #b82b32;
	$color-6: #fbe77d;

	.content {
		background-color: #fafafa;
		width: 100%;
		height: 100%;
		margin: auto 0;
		z-index: 100;
		ul {
			margin: 0 auto;
		}
	}

	.caption {
		margin: 3vh auto;
		text-align: center;
	}

	.resume-tech-stack {
		width: 100%;
		margin-top: 20px;
		padding: 1rem;
		border-radius: 10px;
	}

	.resume-body {
		position: relative;
		width: 70%;
		padding: 0;
		margin: 4em auto;
		list-style: none;
		&:before {
			background-color: $color-3;
			content: " ";
			margin-left: -1px;
			position: absolute;
			top: 27px;
			left: 2em;
			width: 1px;
			height: 97%;
		}
	}

	.resume-date-range {
		color: $color-1;
		font-size: 1em;
		font-weight: bold;
		background-color: $color-2;
		display: inline-block;
		padding: 0.25em 1em 0.2em 1em;
		margin: 1.2em 0 .5em 0;
	}

	.resume-tech-stack-item {
		color: $color-1;
		font-size: 1em;
		font-weight: bold;
		background-color: #3f4e67;
		border-radius: 5px;
		display: inline-block;
		padding: 0.25em 1em 0.2em 1em;
		margin: 1em 0.3em .1em 0.3em;
	}

	.resume-event-item {
		padding: 2em;
		position: relative;
		top: -1.875em;
		left: 3em;
		width: 90%;
	}

	.resume-title {
		margin: 3vh auto;
		font-size: 1.8em;
		font-weight: bold;
	}

	.resume-company {
		font-size: 1.2em;
		margin-bottom: 1.2em;
		font-style: italic;
		font-weight: bold;
	}

	.resume-event {
		position: relative;

		// &:hover {
		// 	.resume-event-icon {
		// 		transform: rotate(220deg);
		// 		transition: all 0.3s ease-in-out 0s;
		// 		background-color: yellow;
		// 		// width: 10px;
		// 	}
		// }
	}

	.resume-event-icon {
		transform: rotate(45deg);
		background-color: $color-6;
		outline: 5px solid $color-2;
		display: block;
		margin: 0.5em 0.5em 0.5em -0.5em;
		position: absolute;
		top: 1.6em;
		left: 2.3em;
		width: 0.3em;
		height: 0.3em;
	}
}
