.about {
	.content {
		margin-top: auto;
		margin-bottom: auto;
		width: 100%;
		height: 100%;
		// left: 30vh;
		// background-color: rgba(0, 0, 0, 0.109) !important;
		// background-color: rgba(219, 224, 235, 1) !important;
		z-index: 100;
	}

	.panel {
		width: 60%;
		// height: 60vh;
		padding: 5vh 5vw;
		margin: 5vh auto;
	}

	.profile-image {
		width: 20vw;
		// clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
		clip-path: circle(42% at 50% 50%);

		// opacity: .8;
	}
}
