.contact {
	$color-1: #3f4e67;
	$color-2: #fafafa;
	$color-3: #df777b;
	$color-4: #172229;
	$color-5: #b82b32;
	$color-6: #dce1eb;

	.content {
		width: 100%;
		height: 100%;
		min-height: 100vh;
		background-color: $color-1;
		padding-top: 15vh 0;
		z-index: 100;
	}

	.caption {
		margin: 3vh auto;
		text-align: center;
	}

	.panel {
		margin: 0 auto;
		width: 80%;
	}

	.contact-items {
		width: 80%;
		margin: 0 auto;
	}

	.contact-links {
		color: $color-2;
		font-family: "Raleway";
		font-Weight: 'bold !important';
		margin-left: 20px;
		margin-right: 0;
		transition: 0.2s;
	}

	.contact-links:hover {
		color: $color-3;
		text-decoration: none;
		transition: 0.2s;
	}

	.disabled-link {
		pointer-events: none;
	}

	.contact-icon {
		font-size: 50px;
		color: $color-6;
	}

	// form
	.contact-form {
		text-align: center;
	}

	.contact-form-input {
		width: 80%;
		margin: 0.7rem 0;
		border-radius: 5px;
		background-color: $color-2;
		color: $color-4;
	}

	// form button
	.form-button {
		margin: 1rem 0;
		padding: 0.5rem 3rem;
		border-radius: 5px;
		background-color: $color-4;
		color: $color-2;
		font-weight: bold;
	}

	.form-button:hover {
		background-color: $color-3;
		color: $color-4;
	}

	// validation messages
	.form-message {
		color: $color-2;
		font-size: 1.2em;
		font-weight: bold;
	}

	.form-message-error {
		color: $color-3;
		font-size: 1.2em;
		font-weight: bold;
	}
}
