.navbar {
	// container
	.nav-container {
		font-family: "Raleway";
		font-Weight: 'bold !important';
		width: 100%;
		height: 9vh;
		top: 0;
		left: 0;
		position: fixed !important;
		z-index: 100;
		background-color: #3f4e67;
		color: white;
		display: flex;
		align-items: center;

		// border-bottom: #df777b solid 2px;
	}

	a,
	a:hover {
		text-decoration: none;
		color: #fafafa;
		transition: 0.3s;
	}

	a:hover {
		color: #fed96c;
	}

	.nav-links:hover {
		// background-color: #293242;
		color: #fed96c;
		text-decoration: none;
	}

	.nav-links:after {
		bottom: 0;
		content: "";
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		background: #fafafa;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}

	.nav-links:hover:after {
		width: 100%;
		left: 0;
	}

	// logo
	.logo {
		display: inline-block;
		margin-left: 3vw;
	}

	.logo-link {
		color: white;
	}

	.logo-link:hover {
		cursor: pointer;
		text-decoration: none;
	}

	// menu
	.menu {
		display: inline-block;
		position: absolute;
		right: 5vw;
	}

	.menu-list {
		display: flex;
		flex-direction: row;
		padding: 0;
		text-align: center;
		width: 30vw;
		text-transform: uppercase;
		font-weight: bold;
	}
}
